nav {
  background: #f8f4ef;
  z-index: 1000;
}

@media (min-width: 768px) {
  .lg-flex-row {
    flex-direction: row;
  }
}

@media (min-width: 460px) {
  .coba {
    margin-right: auto;
    margin-left: auto;
  }
}

#about,
#gallery,
#location {
  padding-top: 6rem;
}

.margin {
  margin-top: 2.5rem;
}

.faq-question {
  cursor: pointer;
}

.faq-question:after {
  content: "\25BC";
  float: right;
}

.faq-question.active:after {
  content: "\25B2";
}

.faq-answer {
  display: none;
}

.faq-answer.show {
  display: block;
}

.faq-item + .faq-item {
  border-top: 1px solid #d1d5db;
}

.faq-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer .space-x-6 > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 0 8px;
  margin-right: 0 8px;
}


.iconborder {
  border-style: solid;
  border-color: black;
  border-width: 2px; 
  padding: 0.5rem; 
  border-radius: 50%;
  transition: border-color 0.3s ease, padding 0.3s ease, background-color 0.3s ease, stroke 0.3s ease; 
}

.iconborder:hover {
  border-color: rgb(104, 101, 101);
  padding: 0.75rem; 
  background-color: #212529; 
}

.iconborder:hover svg {
  stroke: white; 
}