nav {
    /* background: rgba(255, 255, 255, 0.95);  */
    background: #F8F4EF;
    z-index: 1000;

  }

  @media (min-width: 768px) {
    .lg-flex-row {
      flex-direction: row;
    }
  }

#about, #gallery, #location{
    padding-top: 6rem;
}

.margin {
    margin-top: 2.5rem;
}